# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
